
body{
    background-color: white;
}

.container{
    margin-top: 150px;
    width: 450px;
    height: 300px;
    align-items: center;
    display: flex;
    margin-left: 450px;
    border: 1px solid gray;
}
aside{
    background-color: black;
    width: 700px;
    height: 300px;
    margin-right: 40px;
}
.login{
    width: 700px;
    height: 300px;
}
.caja{
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
}
button{
    background-color: blue;
    height: 30px;
    width: 90px;
    
    color: white;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;

}